.note-app {
  font-family: Arial, sans-serif;
}

.app-header {
  position: absolute;
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bolder;
  background-color: white;
}

.week-number {
  position: absolute;
  width: 120px;
  top: -17px;
  left: 195px;
  font-size: 20px;
  z-index: 4;
}

.weekdays {
  position: absolute;
  top: 3px;
  left: 202px;
  width: 80px;
  font-size: 18px;
  z-index: 4;
}

.header-container {
  position: absolute;
  top: -20px;
  left: -20px;
  height: 82px;
  width: 404px;
  border-bottom: 2px solid black;
  position: absolute;
  padding-left: 20px;
  background-color: white;
  z-index: 1;
}

.day {
  position: relative;
  top: -58px;
  left: -22px;
  border: 2px solid black;
  padding: 10px;
  width: 405px;
  height: 90px;
  margin-bottom: -2px;
  cursor: pointer;
  background-color: white;
  z-index: 4;
}

.day:hover {
  background-color: lightgray;
}

.day.selected {
  background-color: lightgray;
}

.days-container {
  margin-top: 120px;
  display: block;
  background-color: white;
}

.selected-day {
  position: absolute;
}

.current-date {
  font-size: 16px;
  position: absolute;
  top: -44px;
  right: -70px;
  font-weight: bolder;
  text-align: center;
  z-index: 3;
}

.current-day {
  font-size: 20px;
  position: absolute;
  top: -62px;
  left: -10px;
  font-weight: bolder;
  text-align: center;
  z-index: 3;
}

.notes-container {
  display: block;
  margin: 0 auto;
  margin-top: 67px;
  margin-bottom: 67px;
  width: fit-content;
  background-color: white;
}

.note {
  margin-top: 5px;
  position: relative;
  left: -3.8%;
  border: 3px solid black;
  padding: 10px;
  width: 390px;
  display: block;
  margin-bottom: 10px;
}

.note-details h3 {
  margin-top: 0;
}

.add-note-button {
  position: absolute;
  bottom: -772px;
  left: 50%;
  transform: translateX(-50%);
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 40%;
  border: 2px solid black;
  background-color: #ffffff;
  color: black;
  z-index: 9;
}

.add-note-button:hover {
  background-color: gray;
}

.checkmark-button {
  bottom: -20px;
  left: 85%;
  position: absolute;
  display: block;
  margin: 20px auto;
  padding: 1.5px, 2.5px;
  font-size: 16px;
  border-radius: 60%;
  border: none;
  background-color: #ffffff;
  color: black;
  border: 2px solid black;
}

.checkmark-button:hover {
  background-color: gray;
}

.update-note-button {
  display: block;
  position: absolute;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 60%;
  border: none;
  color: black;
  background-color: #ffffff;
  border: 2px solid black;
  bottom: -20px;
  left: 85%;
}

.update-note-button:hover {
  background-color: gray;
}

.delete-button {
  position: absolute;
  bottom: -9px;
  right: 37.5px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 60%;
  padding: 1px;
  cursor: pointer;
  margin-bottom: 10px;
}

.delete-button:hover {
  background-color: grey;
}

.delete-icon {
  width: 20px;
  height: 17px;
}

.completed {
  opacity: 0.5;
}

.leftbutton {
  margin-left: 40px;
  position: absolute;
  bottom: 19px;
  left: 0%;
  transform: translateX(-50%);
  color: black;
  border: none;
  background: none;
  padding: 0;
  font-size: 40px;
  z-index: 10;

}

.rightbutton {
  margin-left: 40px;
  position: absolute;
  bottom: 19px;
  left: 81%;
  transform: translateX(-50%);
  color: black;
  border: none;
  background: none;
  padding: 0;
  font-size: 40px;
  z-index: 10;

}

.bottom-container {
  position: absolute;
  left: -212px;
  bottom: -773px;
  border-top: 2px solid black;
  height: 80px;
  width: 424px;
  background-color: white;
  z-index: 8;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  background-color: white;
}

.note-actions {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.note-actions input[type="checkbox"] {
  margin-left: 5px;
}

.back-button {
  position: absolute;
  top: -58px;
  left: 150px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: black;
  background-color: white;
  z-index: 4;
}

.close-button {
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  height: 29px;
  width: 29px;
  position: absolute;
  top: 2px;
  left: 85%;
}

.closing-button {
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  padding: 2.5px, 5px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-button:hover {
  background-color: lightgrey;
}

.closing-button:hover {
  background-color: lightgrey;
}

.language-toggle {
  display: flex;
}

.language-option {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.theme-toggle {
  display: flex;
}

.theme-option {
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.back-button:hover {
  background-color: gray;
}

.delete-button:hover {
  background-color: grey;
}

.color-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.color-option {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.color-option.selected {
  border: 3px solid black;
}

.note-creation-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  background-color: #ffffff;
  padding: 18px;
  border: 2px solid #000000;
  border-radius: 2px;
  z-index: 12;
}

.time-picker-container::-webkit-scrollbar {
  width: 8px;
}

.time-picker-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 8px;
}

.time-picker-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 8px;
}

.time-picker-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.time-picker select {
  width: 40px;
  height: 30px;
  margin-left: 3px;
  margin-right: 3px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.time-picker select:last-child {
  margin-right: 0;
}

.input-group {
  margin-bottom: 10px;
  margin-left: 5px;
}

.input-label {
  margin-bottom: 5px;
}

.input-field {
  width: calc(100% - 40px);
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  resize: none;
}

.settings-menu {
  top: 150px;
  left: 26px;
  padding-top: 10px;
  padding-left: 90px;
  padding-right: 100px;
  padding-bottom: 30px;
  border: 2px solid black;
  position: absolute;
  z-index: 100;
  background-color: white;
  border-radius: 2px;
}

.day-settings {
  position: absolute;
  top: 9px;
  right: -370px;
  background-color: white;
  padding: 1px;
  cursor: pointer;
  z-index: 3;
  border: white;
}

.day-settings img {
  width: 25px;
  height: 25px;
}

.confirm-button {
  margin-top: 10px;
}

.time-picker-container {
  max-height: 200px;
  overflow-y: auto;
}

.mobile-container {
  width: 384px;
  height: 820px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 0px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  scrollbar-width: none;
  z-index: 2;
}

body {
  margin-top: 20px;
}

.alert {
  position: absolute;
  height: 12%;
  width: 18%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 15;
}

.alert-message {
  font-size: 17px;
  font-weight: bold;
  padding: 20px;
  position: absolute;
}

.alert-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  padding: 2.5px, 5px;
  margin: 2px solid black;
}

.confirmation-message {
  padding: 10px;

}

.yes-button {
  position: absolute;
  top: 85%;
  right: 70%;
  background: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px solid black;
}

.no-button {
  position: absolute;
  top: 85%;
  right: 25%;
  background: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px solid black;
}